.home-page {
    display: flex;
    height: 100vh;
    overflow: hidden
}

.sidebar {
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    border-right: 1px solid #555555;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Adjust as needed */
    align-items: center;
    z-index: 1;
}

.user-info {
    margin-bottom: 20px;
}

.project-list h4 {
    margin-bottom: 10px;
}

.project-list ul {
    list-style-type: none;
    padding: 0;
}

.project-list ul li {
    margin-bottom: 10px;
}

.project-list ul li button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
}

.project-list ul li button img {
    width: 24px;
    height: 28px;
    margin-right: 10px;
    fill: white;
}

.new-project-button {
    margin-top: auto;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    color: #333333;
    margin-left: 400px; /* Width of the sidebar */
    width: calc(100vw - 250px); /* Full viewport width minus sidebar width */
    z-index: 0; /* Ensure content is behind sidebar */
}

.error-message {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff4d4f;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: row;
}

.error-message .close-button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
}

.tasks-container {
    display: flex;
    gap: 6vw;
    margin-top: 30px;
}

.tasks-column {
    flex: 1;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    max-width: 300px;
}

.new-task-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.tag {
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 5px;
    display: inline-block;
    background-color: #e0e0e0;
    color: #333;
    transition: background-color 0.3s ease;
}

.tag.selected {
    background-color: #007bff;
    color: white;
}
